body{
    background-color: #f1f1f1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label{
    color: #8a8a8a;
}

.welcome{
   font-size: 1;
}

h1{
    font-size: 2rem;
    margin: 0;
}

.form-login .btn{
    background-image: linear-gradient(to right, #4B79A1 0%, #283E51  51%, #4B79A1  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    height: 46px;
    width: 262.39px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white; 
    font-weight: bold;    
    border: none;       

    border-radius: 10px;
    display: block;
}

.form-login .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.form-login{
    display: flex;
    align-items:initial;
    flex-direction: column;
    gap: 40px;
}

.imagem-login{
    height: 600px;
    width: 500px;
    background-image: url(./img/pexels-rodrigo-souza-2531709.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: right;
    
    border-radius: 20px 0 0 20px;
}

.form-box{
    display: flex;
    align-items: center;
    width: 950px;
    gap: 100px;
    background-color: #fff;
    border-radius: 21px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);;
}

.dados{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-login input{
    font-size: 1.1rem;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
   
    padding-left: .4rem;
    height: 40px;
    width: 250px;
    background: none;
    border-color: #4B79A1 ;
}

/* Responsive styles */
@media (max-width: 768px) {
    .form-box{
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
section.imagem-login{
    background-image: none;
    height: 0;
    width: 0;
}
    .form-login .btn{
        width: 100%;
    }

    .form-login input{
        width: 100%;
        border-top: none;
    }
}
