header{
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}
body{
  
    background-image: url('img/pexels-arthur-shuraev-15184711.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-image: url('img/pexels-pixabay-209831.jpg');
    background-image: url('img/pexels-fabiano-rodrigues-2290328.jpg');
    background-image: url('img/pexels-andre-furtado-1162251.jpg'); 
    background-image: url('img/pexels-pixabay-459439.jpg');
    background-image: url('img/wladislaw-sokolowskij-0vw4InAC-yM-unsplash.jpg');
    background-image: url("img/jakub-kriz-arOyDPUAJzc-unsplash.jpg");
    background-image: url("img/pexels-rodrigo-souza-2531709.jpg");
    max-width: 100%;
    background-position: center center;
    background-attachment: fixed;
}
#card {
    background: linear-gradient(180deg, #2b6be2ab 0%, #1700809c 100%);
    border-radius: 20px;
    margin: auto;
    text-align: center;
    padding: 10px;
    width: fit-content; 
    max-width: 90%; 
    transition: all 0.3s ease; 
    overflow: hidden; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#search{
    background-color: #437eecfe;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.171);
    height: 36px ;
    transition: all 0.5s;
}
#search:hover{
    background-color: rgb(6, 6, 128);
    color: white;
    transform: scale(1.1);
}
#input {
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.171);
    background-color: rgb(255, 255, 255);
    height: 30px;
    color: black;
    width: 250px;
}


footer{
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: white;
}
#icon.iconm{
    width: 68px;
    height: 68px;
}
#imgclima{
    height: 60px;
    text-align: center;
    padding: 10px;
}
#terra{
    height: 70px;
}
#terea{
    text-align: center;
    padding: 50px;
}


.carac{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
    transition: all 0.3s ease; 

}
.mais-infor{
    justify-content: center;
    padding: 10px;
    margin: 0;
    transition: all 0.3s ease; 

}
.mais-infu{
    padding: 5px;
    background-color: transparent;
    color: white;
  border-color:transparent ;
}

  
.mais-infu:hover{
    transition: all 0.5s;
    color: #0088ff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: white;
}
.vento{
    padding: 5px;
    background-color: transparent;
    color: white;
   border-color: transparent;
}
.vento:hover{
   
    color: #0088ff;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: all 0.5s;
    border-color: white;
}
.ventoo{
    display: flex;
    justify-content: center;
    transition: all 0.3s ease; 
}
.imgwind{
    height: 29px;
padding: 10px;
}
.mais:hover{
    
    color: #0088ff;
    border-left: none;
    border-right: none;
    transition: all 0.5s;
    border-top: none;
    border-color: white;

}
.umid{
    padding: 5px;
    background-color: transparent;
    color: white;
}
.tempmax{ 
    display: flex;
    justify-content: center;
    padding: 5px;
}
.tempmin{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.mais{
    padding: 5px;
    background-color: transparent;
    color: white;
    border-color: transparent;
}
#imgclima:hover{
    animation-duration: 0.3s;
    animation-name: shake;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;

}

.imgumid{
height: 20px;
padding: 10px;

}
.umidadee{
    display: flex;
    justify-content: center;
    padding: 10px;
}
@keyframes shake {
    0%{
        transform: translateX(-5);
        transform: translateY(-5);
    }
    25%{
        transform: translateX(10px);
        transform: translateY(5px);
    }
    50%{
        transform: translateX(-5px);    
    }
    75%{
        transform: translateX(10px);
        transform: translateY(-5px);
    }
    100%{
        transform: translateX(-5px);
        transform: translateY(5px);
    }
}
.graus{
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}
.form-box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.Vento{
    background-color: transparent;
    color: white;
    border: none;
}

.form-login{
    display: flex;
    flex-flow: column nowrap;
    max-width: 40%;
    gap: 0.6rem;
    color: var(--white);
    
}

.form-login label{
    font-size: 1.2rem;
    font-weight: bold;
}

.form-login input{
    font-size: 1.1rem;
    height: 40px;
    border-radius:8px;
    padding-left: .4rem;
    height: 30px;
    width: 250px;
    background: none;
    border: none;
}
.caixa{
    background: linear-gradient(180deg, #2b6be2ab 0%, #1700809c 100%);
    border-radius: 20px;
    margin: auto;
    text-align: center;
    padding: 10px;
    max-width: 90%; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
#cidade{
    padding: 0;
    margin: 10px;
}
.form-login .btn{
    background-image: linear-gradient(to right, #4B79A1 0%, #283E51  51%, #4B79A1  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    height: 0px;
    width: 250px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            

    border-radius: 10px;
    display: block;
}

@keyframes rotate
{
    to
    {
        --angle: 360deg
    }
}
@property --angle
{

    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;

}
        
:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
.object-cover{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s;

    
}
.object-cover:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);;
}
.animate-fade-in {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 10px;
}
.box{
    display: flex;
}
#imagesci{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   width: auto;
}
@media (max-width: 768px) {
}
#carac{
    display: none;
}
